@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />

  <body>
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <!--<div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>-->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="images/agb-4.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="images/AGB_CIB_BUSINESS_declinaison_slider_site.png" alt="Second slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="images/AGBPro.jpg" alt="Third slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="images/fondecran.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="images/ImageDAB.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="images/particulier.jpg" alt="Third slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="images/pro.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="images/Professionels.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="images/Slider_Visa.jpg" alt="Third slide">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <div class="container">
        <h2 class="title-section text-center mb-4">Produits recommandés</h2>
        <div id="productContainer" class="row gy-3 row-cols-1 row-cols-md-3 g-4">
            <div id="loadingSpinner"></div>
        </div>
    </div>
    <div class="card-body container">
      <h3 class="title-section">présentation de la banque</h3>
      <p><strong>AGB</strong> est une banque de droit algérien, à vocation universelle, qui a démarré son activité en 2004.</p>
      <p><strong>AGB</strong> dispose d'un réseau de 61 agences réparties sur l'ensemble du territoire Algérien.</p>
      <p><strong>AGB</strong> renforce année après année sa position, elle est l'une des trois principales banques privées en Algérie.</p>
      <p>Les clients d’AGB sont de toutes catégories d’entreprises (Grandes, PME, PMI, TPE) ainsi que les particuliers et professionnels, 
        AGB construit des processus aux meilleurs standards du marché et conçoit des solutions sur mesure afin d’accompagner ses clients dans la réussite de leurs projets..
      </p>
      <p>Avec 1074 collaborateurs, âgés en moyenne de 35 ans, AGB est l'une des leaders du marché des services électroniques, 
        la première banque à avoir proposé des cartes internationales (Visa et MasterCard) sur le marché.
      </p>
    </div>
    <section class="counter parallax container">
        <div class="overlay">
            <div class="row">
                <div class="col-sm-12 kipco">
                    <h2 class="title" style="color:#fff">Gulf Bank Algérie</h2>
                    <p class="ptrs-t">AGB, Une Banque privée à réseau toujours plus proche de ses clients en leur offrant une gamme étendue de produits et services innovants.</p>
                    <ul class="partners clearfix stats">
                        <li class="col-md-6 col-sm-6">
                            <img src="~/icons/kpi_Agence.png">
                            <h3>61</h3>
                            <span>Agences réparties sur 39 Wilayas </span>
                        </li>
                        <li class="col-md-6 col-sm-6">
                            <img src="/icons/kpi_dab.png">
                            <h3>102</h3>
                            <span>Distributeurs automatiques de billets </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
      <h3 class="title-section">nos valeurs</h3>
      <div class="row">
        <div class="col">
          <div class="about-us-section">
            <div class="mask-top">
              <h4>Progres</h4>
              <img src="icons/progres.png" alt="">
            </div>
          </div>
        </div>
        <div class="col">
          <div class="about-us-section">
            <div class="mask-top">
              <h4>Engagement</h4>
              <img src="icons/engagement.png" alt="">
            </div>
          </div>
        </div>
        <div class="col">
          <div class="about-us-section">
            <div class="mask-top">
              <h4>Constance</h4>
              <img src="icons/progres.png" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="about-us-section">
            <div class="mask-top">
              <h4>Ecoute</h4>
              <img src="icons/ecoute.png" alt="">
            </div>
          </div>
        </div>
       
        <div class="col">
          <div class="about-us-section">
            <div class="mask-top">
              <h4>Reconnaissance</h4>
              <img src="icons/reconaissence.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>