@using AGB_Bank.ViewModels;
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<AppUser> signInManager

<ul class="navbar-nav">
    @if (signInManager.IsSignedIn(User))
    {
        <li class="nav-item dropdown">
            <a id="dropdownButton1" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                @User.Identity!.Name!
            </a>
            <ul id="dropdownMenu1" class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                    <a class="dropdown-item" asp-action="Logout" asp-controller="Account">
                        Se déconnecter
                    </a>
                </li>
            </ul>
        </li>
    }
    else
    {
<!--
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
        </li>

        -->
    }
</ul>


<script>
    document.getElementById('dropdownButton1').addEventListener('click', function () {
        console.log('clicked');
        document.getElementById('dropdownMenu1').classList.toggle('show');
    });
</script> 